th, td{
    border: 5px solid;
    border-collapse: collapse;
    text-align: center;
}
th{background-color: rgb(53, 117, 146);
    color: rgb(0, 0, 0);
    padding: 15px;}
td{ background-color: rgb(235, 188, 221);
    padding: 15px;}

    #opsys1{background-color: rgb(197, 65, 65);}
    #sitnet1{background-color: rgb(158, 13, 127);}
    #humcom{background-color: rgb(130, 70, 165);}
    #scites{background-color: rgb(85, 31, 211);}
    #cworld{background-color: rgb(67, 127, 151);}